.Home-Image-Container {
  display: grid;
  /* border: 5px solid red; */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: 10px;
  /* place-items: center; */
  
}
.Parent{
  display: flex;
  flex-direction: column;
}
.Latest-Heading{
  margin: 10px;
}

.Left-side-image {
  grid-column: 1 / 2;

}

.Right-side-image {
  grid-column: 2 / 3;
}

.LeftImagee {
  width: 100%;
  height: 606px;
  object-fit: cover;
}

.Rightimagee {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.Latest-Card-Container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  
  gap: 10px;
  margin-top: 20px;
}
.Latest-Card{
  margin-top: 10px;
}
.Card-Head-name{
  font-size: 16px;
}


@media (min-width: 320px) and (max-width: 768px){
  .Left-side-image {
    grid-column: 1 / 3;
    width: 100%;
  
  }
  
  .Right-side-image {
    grid-column: 1 / 3;
  }
  
  .Home-Image-Container{
    justify-content: center;
    align-items: center;
  }
  .LeftImagee {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .Rightimagee {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .Latest-Card-Container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parent{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}